body { 
  padding-top: 2px; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #122;
}
li a:active {
  background-color: #111;
}
#input-form {
    width: 80%;
    height: 500px;
    background-color:#333;
    color: cornsilk;
    font-size: medium;
    
  }
  .active {
    background-color:gray;
    
  }
#htmcontainer {
  padding: 50px;
  width: 100%;
}